* {
  box-sizing: border-box;
  margin: 0;
}

.links {
  text-align: left;
  width: 500px;
  display: inline;
}

.buttons {
  float: right;
  display: inline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.clearfix {
  overflow:auto;
}
