table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

table, tr, td {
  border: 2px black solid;
}

th{
  font-weight: bold;
  border: 5px black double; 
}

td, th {
  padding: 1.2em;
}
